*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: black;
} 

.header{
  background-color: #FFFFFF;
  color: #FFFFFF;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo{
  font-size: 24px;
  color: black;
}

.header nav{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.header nav a{
  color: #252B24;
  font-weight: bold;
}

.header nav a:hover{
  text-decoration: underline;
}

div.header{
  gap: 10px;
  cursor: pointer;
}
.container-1{
  background-color: #FAFAFA; 
   display: flex;
  align-items: center;
  justify-content: center;
  
}

.heading{
   display: flex;
  align-items: center;
  justify-content: center; 
  height: 122px;
  width: 123px; 
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #23A6F0;
  font-size: 23px;
  margin: auto;
}


.footer {
      text-align: center;
      padding: 1rem 2rem; 
      background-color: #FFFFFF;
      color: black;
      font-size: 0.9rem;
    }
     
    footer {
      width: 100%;
      /* position: absolute; */
      /* bottom: 0; */
      background: #FFFFFF;
      color: black;
      padding: 50px 20px;
  }
  .container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      /* flex-wrap: wrap; */
  }
  .container h3::after {
      content: "";
      display: block;
      height: 2px;
      width: 50px;
      background: #fff;
      margin-top: 20px;
  }
  .container li a:hover {
      color: rgb(38, 38, 38);
      transition: all 0.5s ease;
  }
  .col-1 {
      flex-basis: 30%;
      padding: 10px;
      margin-bottom: 20px;
  }
  .col-1 img {
      width: 55px;
      margin-bottom: 15px;
  }
  .col-1 p {
      color: black;
      font-size: 15px;
      line-height: 20px; 
  }
  .col-2 {
      flex-basis: 15%;
      padding: 10px;
      margin-bottom: 20px;
  
  }
  .col-2 h3 {
      color: black;
      font-size: 20px;
      margin-bottom: 15px;
  }
  .col-2 ul {
      list-style: none;
  }
  .col-2 ul li {
      margin-bottom: 10px;
  }
  .col-2 ul li a {
      color: black;
      text-decoration: none;
  }
  .col-3 {
      flex-basis: 15%;
      padding: 10px;
      margin-bottom: 20px;
  }
  .col-3 h3 {
      color: black;
      font-size: 20px;
      margin-bottom: 15px;
  }
  .col-3 ul {
      list-style: none;
  }
  .col-3 ul li {
      margin-bottom: 10px;
  }
  .col-3 ul li a {
      color: black;
      text-decoration: none;
  }
  .col-4 {
      flex-basis: 20%;
      padding: 10px;
      margin-bottom: 20px;
  }
  .col-4 h3 {
      color: black;
      font-size: 20px;
      margin-bottom: 15px; 
  }
  form{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      padding-bottom: 20px;
  }
  form .far{
      color: black;
      margin-right: 10px;
  }
  form input{
      background: transparent;
       width: 100%;  
       border: none;   
      color: rgb(0, 0, 0);
      outline: none; 
  }
  form button{
       background: transparent; 
      border: none;
      color: black;
      cursor: pointer;
  }
  .btn{
    font-size: 12px;
    padding: 18px;
    margin: 15px;
    color: #FFFFFF;
    background-color: #23A6F0;
    cursor: pointer;
  }
  .footer-2{
      width: 100%; 
      background: #FAFAFA;
      color: #737373;
      padding-top: 20px; 
      padding-bottom: 20px;
      letter-spacing: 0.2px;
      padding-left: -12px;
      margin-left: -12px;
  }

.hero{
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  color: #FAFAFA;
  padding-left: 180px;

}

.hero h1{
  font-size: 55px;
}

.hero h6{
  text-align: end;
  padding-right: 420px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero p{
  font-size: 15px; 
  margin-top: 15px;
  padding-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
   Width:221px;
   Height: 62px;
   Gap: 10px; 
   border: 5px;
   margin-top: 30px;
   background-color: #2DC071;
   color: #FAFAFA;
   font-size: 20px;
   cursor: pointer;
}

.second-section{
  padding: 200px;
  margin: 50px;

}

.images{
  display: flex;
  height: 50vh;
  gap: 40px;
}

.second-section h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: 20px;  
  font-size: 45px;
}

.second-section p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 20px;
  margin-bottom: 20px;

}
.class{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 100px;
  margin: 10px;
}
.third-section .product {
  padding: 20px;
}

.product {
  display: flex;
  flex-wrap: wrap; 
}

.product-card {
  flex: 0 0 23%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 5px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.forth-section{
   background-repeat: no-repeat;
   background-color: #23856D; 
   background-position: top;
   background-position: bottom;
   background-position: left; 
   background-position: right; 
   background-position: center;
   background-position: 80% 100%;
   height: 100vh;
   display: flex;
   justify-content: left; 
   align-items: center;
   text-align: center;  
   color: #FAFAFA; 
   padding-left: 180px;  
  
}


.forth-section h1{
  font-size: 60px;
}

.forth-section h6{
  text-align: end;
  padding-right: 500px;
  margin-bottom: 35px;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.forth-section p{
  font-size: 17px; 
  margin-top: 15px;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.forth-section span{
  padding-left: 5px;
  margin-right: 30px;
  gap: 20px; 
  font-size: 20px;
  font-weight: bold;

} 

button {
   Width:  221px;
   Height: 62px;
   Gap: 10px; 
   border: 6px;
   margin-top: 70px;
   background-color: #2DC071;
   color: #FAFAFA;
   font-weight: bold;
   font-size: 8px;
   font-size: 18px;
   cursor: pointer;
}

.div-container{
  display: flex;
  justify-content: center;
  align-items: cneter;
  background-position: center;
}

.cover{
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  margin: 100px;
}

.btnp{
  gap: 20px;
  margin: 8px;
}

.btns{
  background-color: #2DC071;
  border: 10px;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btnf{
  background-color: white;
  color: #2DC071;
  border: 2px solid #2DC071;
  border-radius: 8px;
  cursor: pointer;
}

.div-container{
  margin-left: 77px;
}

.five-section h1{
  font-size: 55px;
}

.five-section h6{
  text-align: end;
  padding-right: 450px; 
  margin-bottom: 35px;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.five-section p{
  font-size: 17px; 
  margin-top: 15px;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.six-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 140px;
} 

.main-heading{
  padding: 50px;
  margin-top: 20px;
  padding-left: 400px;
}

.main-heading h5{
  padding: 10px;
  margin-top: 5px;
   padding-left: 300px; 
}

.main-heading h1{
  padding-left: 250px;
  font-weight: bold;
  font-size: 27px;
  font-family: sans-serif;
}

.main-heading p{
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.extra-heading span{
  padding: 10px 15px;
  color: black;
}

.extra-heading h4{
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  color: #252B42;
}

.extra-heading p{
  color: #737373;
  padding: 10px;
}






@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-left: 400px;
    font-size: 40px;
  }

  .header nav {
    padding-left: 300px;
    gap: 10px;
    flex-direction: column;
    font-size: 40px;
  }

  
  .hero {
    padding-left: 0px;
    /* height: auto; */
    height: 100vh;
    width: 150vh;
    flex-direction: column;
    padding-left: 100px;
  }

  .hero h1 {
    font-size: 40px;
    align-items: left;
    text-align: center;
    padding-right: 700px;
    margin-top: 200px;
  }

  .hero p {
    font-size: 25px;
    margin-top: 50px;
    padding-right: 500px;
  }
  .hero h6{
    padding-right: 900px;
    margin-top: 100px;
    font-size: 20px;
  }

  .hero button{
    margin-right: 900px;
    padding: 20px;
    margin: 20px;
  }

  .second-section {
    padding: 100px;
  }

  .second-section h1{
    padding-top: 100px;
    text-align: center;
    margin-left: 500px;
  }

  .second-section p{
    margin-left: 500px; 
    text-align: center;
    font-size: 20px;
  }

  .third-section{
    padding-left: 500px;
    margin: 200px;
  }

  .product-card{
    padding: 30px;
    margin: 20px;
  }

  .forth-section{
    padding: 100px;
    height: 80vh;
    width: 150vh;
  }

  .five-section{
    padding-left: 500px;
    margin-left: 200px;
  }

  .main-heading h5, h1{
    /* padding: 200px; */
     margin-top: 40px; 
    /* font-size: 30px; */
    text-align: center;
    padding-right: 200px;
  }

  .main-heading p{
    font-size: 20px;
    padding-left: 200px;
    padding-top: 100px;
  }

  .six-section{
    padding-left: 550px;
  }

  .images {
    height: 100%;
  }

  .product-card {
    flex: 0 0 100%;
  }

  button {
    width: 150px;
    height: auto;
  }

  footer{
     padding: 20px; 
  }

  footer .container{
    padding-top: 50px;
    margin: 200px;
    font-size: 20px;
    width: 120vh;
  }
}